<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
    <div class="container p-2">
        <div class="row p-2">
            <div class="col">
                <div class="hstack gap-3">
                    <h2>
                        <span class="badge text-bg-success">Витрина магазина</span>
                    </h2>
                    <a href="/orders" class="btn btn-secondary ms-auto bi bi-file-earmark-text"> Заказы</a>
                    <a href="/items" class="btn btn-secondary bi bi-arrow-left-square"> Главная</a>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="card">
					<div class="card-body">
						<h4 class="card-title">Добавить новый продукт</h4><br/><br/>		
						<form method="post" th:action="@{/product/add}" enctype="multipart/form-data" th:object="${product}">
							<div class="form-group">
							
								<label style="display: inline-block; width: 150px; margin: 5px; text-align: left;">Название:</label>
								<input style="display: inline-block; width: 400px;" type="text" th:field="*{title}" /><br/><br/>
 
								<label style="display: inline-block; width: 150px; margin: 5px; text-align: left;">Описание:</label>
								<textarea  style="width: 400px;" cols="40" rows="3"  th:field="*{description}"></textarea><br/><br/>
 
								<label style="display: inline-block; width: 150px; margin: 5px; text-align: left;">Цена:</label>
								<input style="display: inline-block; width: 400px;"type="text" th:field="*{price}" /><br/><br/>
								
							    <label style="display: inline-block; width: 150px; margin: 5px; text-align: left;">Изображение:</label>
								<input style="display: inline-block; width: 400px;" type="file" name="image" accept="image/*" class="form-control-file">
							</div>
							<br/><br/><br/>
							<button type="submit" class="btn btn-secondary">Добавить</button>
						</form>
					</div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>

</html>
